# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entorno virtual
venv/
env/
.venv/

# pytest
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.log